# dataset
classifier/dataset/
classifier/results/*
!classifier/results/light-gbm.pickle
!classifier/results/deep-model.pickle
!classifier/results/deep-params.pth

# unnecessary dirs
openpose
pose-estimation
deploy.sh
